@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Merriweather:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0 0;
}
/* Header Related Styles */

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 50px;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 0 55px;
}
header img {
  width: 5%;
}
header h2 {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
}
nav ul {
  list-style: none;
  display: flex;
  text-align: right;

  justify-content: space-around;
}
nav ul li {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
}
/* main related styles */

.Influencer-content {
  display: flex;
  margin: 100px 100px;
}
.Influencer-description {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}
.Influencer-title {
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}
.button-89 {
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #373b44;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

.img-container {
  background-image: url(../images/Circle\ design.svg);
}
/* Sponsors section */
.logos-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 0 160px;
  margin-bottom: 100px;
}
.shopping-title {
  text-align: center;
  font-size: 28px;
  color: #3a3a3a;
  font-weight: 600;
}
/* Shopping And Product Section Styles */

.product-title {
  color: #18191f;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 6px;
  text-align: left;
  padding-left: 12px;
}
.price {
  color: rgba(0, 0, 0, 0.87);
  font-family: "Inter", "Arial";
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 6px;
  text-align: left;
  padding-left: 12px;
}
.product-description {
  color: #787885;
  font-family: "Inter", "Arial";
  font-size: 14px;
  font-weight: 700;
  margin-top: 0;
  text-align: left;
  padding-left: 12px;
  width: 196px;
}
.products {
  width: 329px;
  height: 476px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 25px;
  margin-left: 25px;
}
.product-container {
  display: flex;
  justify-content: center;
}
/* Feature Section related Styles */
.feature-section {
  display: flex;
  justify-content: space-between;
  margin: 100px 40px;
}

.feature-description {
  width: 501px;
  height: 88px;
  flex-shrink: 0;
  color: #6c6c6c;
}
.feature-title {
  font-size: 38px;
  font-weight: 700;
}

.btn-primary {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-primary:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.btn-primary:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .btn-primary {
    padding: 16px 48px;
  }
}

/* Footer related styles */

.footer-section {
  align-items: center;
  text-align: center;
  background: #0a0826;
  margin-bottom: 0 0;
  width: 1250px;
  height: 239px;
  margin-left: 0;
}
.footer-text-container {
  color: #fff;
  font-family: "Poppins", "Helvetica Neue";
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 0;
  padding-top: 10px;
  margin: 0 0;
}
.copyright-text {
  color: #d9dbe1;
  font-size: 14px;
  font-weight: 700;
  margin-top: 0;
}
.copyright-text2 {
  color: #d9dbe1;
  font-size: 14px;
  font-weight: 700;
}
footer img {
  width: 35px;
  height: 35px;
  padding-left: 5px;
  padding-top: 25px;
}
footer p {
  margin: 16px 0;
}

@media screen and (max-width: 576px) {
  .feature-section,
  .product-container,
  .logos-container,
  .Influencer-content {
    flex-direction: column;
  }
  header {
    flex-direction: column-reverse;
    width: 20%;
    align-items: center;
  }
  .logos-container {
    gap: 45px;
    align-items: center;
  }
  main > img {
    width: 100%;
  }
  .product-container {
    align-items: center;
  }
  footer p {
    align-items: flex-start;
    text-align: left;
    padding-left: 140px;
  }
  .contacts-info {
    margin-right: 700px;
  }
  .feature-section {
    align-items: center;
  }
  nav > ul {
    display: none;
  }
}
